/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  font-family: "Proxima Nova";
  line-height: 1.5rem; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

.section-header, .hero-title {
  text-align: center;
  margin: 0 auto;
  width: 90%; }

.logo-holder h1, .main-nav a, .hero-feature h2, .gallery-article a {
  font-weight: bold;
  text-transform: uppercase; }

.gallery-article figure > img, .sponsor-holder img {
  width: 100%;
  height: auto; }

body {
  min-width: 75em; }

.sponsor-holder, .hero-feature, .gallery-article, .logo-holder, .main-nav {
  display: inline;
  float: left;
  margin-left: 0.75em;
  margin-right: 0.75em; }

.wrapper::before, .column::before, .wrapper::after, .column::after {
  content: "";
  display: table; }
.wrapper:after, .column:after {
  clear: both; }

.column {
  display: block;
  float: left; }
  .column::first-child {
    margin-left: 0; }

.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 75em; }

.wrapper .sponsor-holder {
  width: 17.25em; }

.wrapper .hero-feature, .wrapper .gallery-article {
  width: 23.5em; }

.wrapper .logo-holder {
  width: 29.75em; }

.wrapper .main-nav {
  width: 42.25em; }

.main-header, .hero-unit, .main-footer, .article-gallery, .sponsor-gallery, .map-holder {
  padding: 3em 1em 1.5em 1em;
  min-height: 1.5rem;
  width: 100%; }

.main-header, .hero-unit, .main-footer {
  background: #2c2e3b;
  color: white;
  background-image: url("../assets/img/header-bg.png"); }
  @media all and (-webkit-min-device-pixel-ratio: 1.5) {
    .main-header, .hero-unit, .main-footer {
      background-image: url("../assets/img/header-bg@2x.png");
      background-size: 70px 70px; } }

.article-gallery, .sponsor-gallery, .map-holder {
  background: #dddddd;
  color: #222222; }

.map-holder {
  padding: 0; }

.section-header, .hero-title {
  text-align: center;
  margin: 0 auto;
  width: 90%; }

.logo-holder h1, .main-nav a, .hero-feature h2, .gallery-article a {
  font-weight: bold;
  text-transform: uppercase; }

.gallery-article figure > img, .sponsor-holder img {
  width: 100%;
  height: auto; }

.logo-holder h1 {
  letter-spacing: 0.01em;
  font-size: 2em;
  line-height: 1.5rem; }
  .logo-holder h1 span {
    color: #c0382b; }

.main-nav a {
  letter-spacing: 0.1em;
  display: block;
  border-bottom: 1px solid #6a6d76;
  color: #6a6d76;
  text-decoration: none;
  font-size: 0.875em; }
  .main-nav a:hover {
    border-bottom: 1px solid #c0382b;
    color: white; }
.main-nav li {
  display: inline-block;
  margin: 0 0.75rem; }
.main-nav .current-menu-item a {
  border-bottom: 1px solid #c0382b;
  color: white; }

.hero-title > h1 {
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 3em;
  line-height: 3rem; }
  .hero-title > h1 > strong {
    color: #c0382b; }

.hero-feature figure {
  margin: 1.5rem auto;
  width: 9em;
  height: 9em;
  border-radius: 100%;
  background: rgba(100, 100, 100, 0.5); }
.hero-feature h2 {
  letter-spacing: 0.1em;
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 1.2em; }
.hero-feature p {
  margin-bottom: 1.5rem;
  text-align: center; }

.section-header > h2 {
  margin-bottom: 3rem;
  text-align: center;
  font-size: 1.5em; }
  .section-header > h2::before, .section-header > h2::after {
    margin: 0 1em 0 1em;
    color: #888888;
    content: "\2014";
    font-size: 1em; }

.gallery-article {
  margin-bottom: 1.5rem;
  border-radius: 3px;
  background: #fff; }
  .gallery-article figure > img {
    margin-bottom: 3rem;
    max-height: 18rem;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
  .gallery-article p {
    margin-bottom: 0.1875rem;
    overflow: ellipsis;
    padding: 0 2em;
    max-height: 3rem;
    color: #999;
    font-size: 0.875em;
    line-height: 1.3125rem; }
    .gallery-article p::last-of-type {
      margin-bottom: 0.375rem; }
    .gallery-article p strong {
      color: #000; }
  .gallery-article a {
    letter-spacing: 0.1em;
    display: block;
    margin-top: 1.5rem;
    padding: 0.75em 1em;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background: #c0382b;
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    line-height: 1.5rem; }

.sponsor-holder {
  margin-bottom: 1.5rem; }

#map-canvas {
  min-height: 22.5rem;
  width: 100%; }
