// TODO: Cleanup on aisle 5!
$line-height: 1.5rem;
$header-col: #2c2e3b;
$header-text-col: #fff;
$background-col: #ddd;
$text-col: #222;

$large-page-width: 75em;
$gutter-width: 1.5em;
$column-count: 12; // Locked in to 12, DON'T FUCKING CHANGE IT! The naming convention of the grid mixin is dependent on this staying the same. So basically if you change this you will break the design, and we don't want that now de we?
$red: rgb(192, 56, 43);
$bold-col: $red;
$shadow-text-col: #6a6d76;

$base-font: "Proxima Nova";
