// TODO: Cleanup on aisle 5!
$line-height: 1.5rem;
$header-col: #2c2e3b;
$header-text-col: #fff;
$background-col: #ddd;
$text-col: #222;

$large-page-width: 75em;
$red: rgb(192, 56, 43);
$bold-col: $red;
$shadow-text-col: #6a6d76;

$base-font: "Proxima Nova", sans-serif;


// Susy vars
$total-columns: 12;
$column-width: 4.75em;
$gutter-width: 1.5em;
$grid-padding: $gutter-width;
