
@import "globals";
@import "mixins";

@include base-grid(
    $width: $large-page-width,
    $gutter: $gutter-width,
    $columns: $column-count
  );

@include generate-grid(
    $width: $large-page-width,
    $gutter: $gutter-width,
    $columns: $column-count
  );
@media screen and (max-width: 75em) {
    @include base-grid(
    $width: 100%,
    $gutter: 3%,
    $columns: $column-count
  );

@include generate-grid(
    $width: 100%,
    $gutter: 3%,
    $columns: $column-count
  );
}
@media screen and (max-width: 45em) {
  .hero-feature, .gallery-article, .sponsor-holder {
   width: 90% !important;
  }
}

%pane {
  padding: 3em 1em 1.5em 1em;
  min-height: $line-height;
  width: 100%;
}
.wrapper {
  @extend %container;
  @extend %clear;
}
.column {
  @extend %col;
  @extend %clear;
}

@mixin pane($color, $text-col) {
  @extend %pane;
  background: $color;
  color: $text-col;
}

%dark-pane {
  @include pane($header-col, $header-text-col);
  @include at2x("../assets/img/header-bg", 70px, 70px);
}

%light-pane {
  @include pane($background-col, $text-col);
  @include at2x("../assets/img/white_carbon", 8px, 8px);
}

.main-header {
  @extend %dark-pane;
}
  .logo-holder{
   float: left;
  }
  .main-nav{
    float: right;
    display: inline;
    text-align: right;
  @extend %clear;

  }

.section-header {
  @extend %center-setter;
}

.hero-unit {
  @extend %dark-pane;
}
  .hero-title {
    @extend %center-setter;
  }
  .hero-feature {
    @extend %span-4;
  }

.article-gallery {
  @extend %light-pane;
}
  .gallery-article {
    @extend %span-4;
  }

.sponsor-gallery {
  @extend %light-pane;
}
  .sponsor-holder {
    @extend %span-3;
  }

.map-holder {
  @extend %light-pane;
  padding: 0;
}

.main-footer {
  @extend %dark-pane;
}