@import "mixins/base-grid";

@mixin at2x($image_name, $w: auto, $h: auto, $extention: '.png') {
  background-image: url($image_name + $extention);
  $x2img : $image_name + '@2x' + $extention;

  @media all and (-webkit-min-device-pixel-ratio : 1.5) {
    background-image: url($x2img);
    background-size: $w $h;
  }
}
%center-setter {
  text-align: center;
  margin: 0 auto;
  width: 90%;
}
%uppercase-bold{
  font-weight: bold;
  text-transform: uppercase;
}
@mixin uppercase-bold($letter-spacing) {
  @extend %uppercase-bold;
  letter-spacing: $letter-spacing;
}
@mixin push-down($i) {
  margin-bottom: $line-height * $i;
}
%img-resize {
  width: 100%;
  height: auto;
}