//////////////////////////////////////////////////////
//  All colors courtesy of http://flatuicolors.com/ //
//  Colors can be seen at that url too :)           //
//  Order goes: Light color first, darker second    //
//////////////////////////////////////////////////////

// Green-Blue
  $turquoise: #1abc9c;
  $green-sea: #16a085;
// Green
  $emerald: #2ecc71;
  $nephritis: #27ae60;
// Blue
  $peter-river: #3498db;
  $belize-hole: #2980b9;
// Purple
  $amethyst: #9b59b6;
  $wisteria: #8e44ad;
// Dark Grey
  $wet-asphalt: #34495e;
  $midnight-blue: #2c3e50;
// Yellow
  $sun-flower: #f1c40f;
  $orange: #f39c12;
// Orange
  $carrot: #e67e22;
  $pumpkin: #d35400;
// Red
  $alizarin: #e74c3c;
  $pomegranate: #c0392b;
// Light Grey
  $clouds: #ecf0f1;
  $silver: #bdc3c7;
// Medium Grey
  $concrete: #95a5a6;
  $asbestos: #7f8c8d;