.social-icons {
  @extend center-setter;
  color: $header-text-col;
  width: 21rem;
  height: 4rem;
  margin: 0 auto !important;
  display: block;
  text-align: center;
}
%icon-pos{
  @extend %fa;
  display: block;
  float: left;
  margin: 0 1.5rem;
  @include circle-icon(4rem);
}
.twitter-icon {
  @extend %icon-pos;
  @extend %fa-twitter;
  background: #1b9ac7;
}
.facebook-icon {
  @extend %icon-pos;
  @extend %fa-facebook;
  background: #3a5a9a;
}
.google-plus-icon {
  @extend %icon-pos;
  @extend %fa-google-plus;
  background: #dd4a38;
}

.footer-logo-holder {
  @extend .logo-holder;
  @extend %center-setter;
}